@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-color: #0a0a0a;
  overflow-x: hidden;
}

.green-gradient {
  background: -webkit-linear-gradient(#ffb200, white 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-gradient {
  background: -webkit-linear-gradient(white 50%, #fd2626);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
