@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-color: #0A0A0A;
}
