@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-color: #0a0a0a;
  overflow-x: hidden;
}

.green-gradient {
  background: -webkit-linear-gradient(#ffb200, white 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-gradient {
  background: -webkit-linear-gradient(white 50%, #fd2626);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-viewport {
  display: flex;
  gap: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  transition: all 200ms ease;
}

.carousel-item {
  position: relative;
  display: flex;
  flex: 0 0 50%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
